#searchbar {
    background-color: $light-gray;
    margin-top: 12px;
    margin-bottom: $global-margin;
    @include breakpoint(medium) {
        margin-top: 15px;
    }
    @media (prefers-color-scheme: dark) {
          color: #ddd;
          background-color: $dark-black-2;
      }
    .google-logo {
        width: 100px;
        margin-bottom: $global-margin;
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    button {
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
}